DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/lastmile_db"
JWT_SECRET="replace_with_a_64_character_random_hex_string"
JWT_EXPIRES_IN="24h"
PORT=4000
NODE_ENV=development
NOTIFY_EMAIL_ENABLED=false
SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USER=apikey
SMTP_PASS=SG.your_sendgrid_api_key_here
SMTP_FROM=noreply@yourdomain.com
NOTIFY_SMS_ENABLED=false
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_FROM_NUMBER=+1415XXXXXXX
